* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
}

.header {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.today {
    background-color: orange;
}

#run,
#save {
    width: 100px;
    margin: 0 10px;
}