* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    padding: 20px;
}

.input-group {
    margin-bottom: 10px;
}

.language-selection {
    text-align: center;
}